<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>输入框组件</title>
    <link rel="stylesheet" href="../js/element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="../js/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <el-input placeholder="请输入用户名" v-model="username"></el-input>
    <el-input placeholder="请输入用户名" v-model="username" prefix-icon="el-icon-user"></el-input>
    <el-input placeholder="请输入邮箱" v-model="email" prefix-icon="el-icon-news">
        <!--后面添加.com   slot: 插槽-->
        <template slot="append">
            .com
        </template>
    </el-input>
    <!-- http://www.sina.com -->
    <el-input placeholder="请输入网址" v-model="href" prefix-icon="el-icon-link">
        <template slot="prepend">
            http://
        </template>
        <template slot="append">
            .com
        </template>
    </el-input>
    <el-input placeholder="请输入要搜索的内容" v-model="text" prefix-icon="el-icon-search">
        <el-button slot="append">搜索</el-button>
    </el-input>

</div>
<script>
    new Vue({
        el: "#app",
        data: {
            username:undefined,
            email:undefined,
            href:undefined,
            text:undefined,
        }
    })
</script>
</body>
</html>