<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../js/element-ui/lib/theme-chalk/index.css">
    <script src="../js/vue.js"></script>
    <script src="../js/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
       <el-form :rules="ruleReg" :model="formData" ref="frm">
           <el-form-item label="姓名" label-width="80px" prop="username">
               <el-input placeholder="请输入姓名" prefix-icon="el-icon-user" v-model="formData.username"></el-input>
           </el-form-item>
           <el-form-item label="电话" label-width="80px" prop="phone">
               <el-input placeholder="请输入电话" prefix-icon="el-icon-mobile-phone" v-model="formData.phone"></el-input>
           </el-form-item>

           <el-form-item>
               <el-button type="primary" icon="el-icon-check" @click="submit">提交</el-button>
               <el-button type="danger" icon="el-icon-close" @click="reset">重置</el-button>
           </el-form-item>
       </el-form>
</div>
<script>
    let v = new Vue({
        el: "#app",
        data: {
            formData:{
                username:undefined,
                phone:undefined,
            },

            ruleReg:{
                userName: [
                    {required:true,message:"用户名必须填写",trigger:"blur"},
                    {pattern:/^[\u4e00-\u9fa5]{4,10}$/,message: "用户不满足复杂业务规则!"}
                ],
                phone: [
                    {required: true,message:"电话必须填写",trigger: "blur"},
                    {pattern:/^1[35789]\d{9}$/,message: "用户不满足复杂业务规则!",trigger:"blur"}
                ]
            }

        },
        methods: {
            submit(){
             this.$refs.frm.validate(valid=>{
                 if (valid){
                     this.$message({
                         showClose:true,
                         message:"添加信息成功",
                         type:"success"
                     })
                 }else {
                     this.$alert("数据异常")
                 }
             })
            },
            reset(){
                this.$refs.frm.resetFields()
            }
        }
    })
</script>
</body>
</html>